<button class="back" (click)="click('home')" mat-raised-button color="primary">
  back
</button>
<mat-card class="card-class" color="primary">
  <mat-form-field class="fields" appearance="fill">
    <mat-label>Name</mat-label>
    <input [(ngModel)]="name" matInput />
  </mat-form-field>
  <mat-form-field class="fields" appearance="fill">
    <mat-label>Email</mat-label>
    <input [(ngModel)]="email" matInput />
  </mat-form-field>
  <button
    class="fields"
    (click)="openDialog()"
    mat-raised-button
    color="primary"
  >
    Add
  </button>
</mat-card>
